.navbar-toggler[b-u90keydbnb] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-u90keydbnb] {
    /*height: 3.5rem;*/
    background-color: rgba(0, 0, 0, 0.0001);
    /*display: table-header-group;*/
}

.navbar-brand[b-u90keydbnb] {
    font-size: 1.1rem;
    color: #ffffff;
}

.fi-fontisto[b-u90keydbnb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}
/*
.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}*/

.nav-item[b-u90keydbnb] {
    font-size: 0.9rem;
    /*padding-bottom: 0.5rem;*/
}

    .nav-item:first-of-type[b-u90keydbnb] {
        /*padding-top: 1rem;*/
    }

    .nav-item:last-of-type[b-u90keydbnb] {
        /*padding-bottom: 1rem;*/
    }

    .nav-item[b-u90keydbnb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        /*height: 3rem;*/
        display: flex;
        align-items: center;
        /*line-height: 3rem;*/
    }

.nav-item[b-u90keydbnb]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u90keydbnb]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-u90keydbnb] {
        display: none;
        align-content: center;
    }

    .collapse[b-u90keydbnb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    .nav-scrollable[b-u90keydbnb] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
