html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.link {
    color: #FFC627;
}

body {
    margin-bottom: 60px;
    font-family: Garamond;
    font-size: 18px;
    background-color: #8C1D40;
    color: antiquewhite;
    background-image: linear-gradient(90deg, #8C1D40 60%, #FFC627 90%);
    accent-color: #FFC627;
}

.profile {
    width: 45%;
    border-radius: 25%;
    margin-bottom: 1rem;
    float: right;
}

img {
    width: auto;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Garamond;
    /*background-color: #8C1D40;*/
    color: white;
}
