
<nav class="navbar navbar-expand-lg">
    <div class="">
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">Siercks.org</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="navbar-nav flex-column align-content-between">
                <div class="">

                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" title="Home" href="" Match="NavLinkMatch.All">
                        <span class="fi-fontisto fontisto--home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" title="Projects" href="projects">
                        <span class="fi-fontisto fontisto--nav-icon-list" aria-hidden="true"></span> Projects
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" title="LinkedIn" rel="noopener" target="_blank" href="https://www.linkedin.com/in/siercks">
                        <span class="fi-fontisto fontisto--linkedin" aria-hidden="true"></span> LinkedIn
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" title="Github" rel="noopener" target="_blank" href="https://github.com/siercks">
                        <span class="fi-fontisto fontisto--github" aria-hidden="true"></span> Github
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" title="Email" rel="noopener" target="_blank" href="mailto:andrew@siercks.org">
                        <span class="fi-fontisto fontisto--email" aria-hidden="true"></span> Email
                    </NavLink>
                </div>
            </div>
    </div>      
</div>

@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-nav flex-row">
            <div class="nav-item px-6">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="fi-fontisto fontisto--home" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-7">
                <NavLink class="nav-link" href="projects">
                    <span class="fi-fontisto fontisto--nav-icon-list" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-7">
                <NavLink class="nav-link" href="https://www.linkedin.com/in/siercks">
                    <span class="fi-fontisto fontisto--linkedin" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-7">
                <NavLink class="nav-link" href="https://github.com/siercks">
                    <span class="fi-fontisto fontisto--github" aria-hidden="true"></span>
                </NavLink>
            </div>
            <div class="nav-item px-7">
                <NavLink class="nav-link" href="mailto:andrew@siercks.org">
                    <span class="fi-fontisto fontisto--email" aria-hidden="true"></span>
                </NavLink>
            </div>
        </div>
    </nav>
</div> *@
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    class Link
    {
        public static readonly IEnumerable<Link> All = new List<Link>
        {
            new Link("Outlook", "mailto:andrew.siercks@outlook.com", "envelope"),
            new Link("LinkedIn", "https:www.linkedin.com/in/siercks/", "linkedin"),
            new Link("Github", "https:github.com/siercks", "github"),
            new Link("Personal", "mailto:andrew@siercks.org", "envelope")
        };

        private Link(string name, string url, string icon)
        {
            Name = name;
            Url = url;
            Icon = icon;
        }

        public string Name { get; }
        public string Url { get; }
        public string Icon { get; }
    }
}
