@page "/"
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="~/style.css">

<PageTitle>Andrew Siercks</PageTitle>

<div>
    <img src="IMG-6661alt-700.png" typeof="" style="object-fit:scale-down" class="profile" />
</div>
<h1 class="text-center">About Me</h1>
<body style="left">

    <div>My name is Andrew Siercks. I grew up in a suburb of Kansas City called Kearney, MO. I've always loved technology and chose that path when I joined the Marine Corps.
    <br /><br />
I've had the fortune of working with and leading teams of great individuals to accomplish various IT objectives.
    <br /><br />
        During 2020, I made the decision to return to college. I enrolled in Arizona State University and in May of 2022, graduated with a Bachelor of Planning in Urban Planning. City composition has always been an interest of mine and I love city design!</div>
    <br>
    <h3 class="text-decoration-underline">Hobbies</h3>
    <ul>
        <li>Spending time with my family</li>
        <li>Eating and cooking great food</li>
        <li>Building .NET Projects</li>
        <li>Reading, some of my favorite books include:</li>
        <ul>
            <li><i>A Confederacy of Dunces</i> by John Kennedy Toole</li>
            <li><i>Skin in the Game</i> by Nassim Nicholas Taleb </li>
            <li><i>A Song of Ice and Fire</i> series by George R. R. Martin</li>
            <li><i>Runaway Horses</i> by Yukio Mishima</li>
            <li><i>Hyperion</i> series by Dan Simmons</li>
        </ul>
        <li>Working Out</li>
        <li>Video Games</li>

    </ul>

</body>
