@page "/projects"
<link rel="stylesheet" href="style.css">

<PageTitle>Projects</PageTitle>

<h1>Project List</h1>
<body>
    @* <h3 class="text-decoration-underline">Portfolio Page:</h3> *@
    

    <div>Coming soon!</div>
    <img src="sbs logo-05.png" class="banner"/>
</body>
