@page "/"
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="~/style.css">

<PageTitle>About Me</PageTitle>



<div>
    <img src="IMG-6661alt.png" style="object-fit:scale-down" class="profile" />

</div>
<h1>About Me</h1>
<body style="left">
    My name is Andrew Siercks. I'm an aspiring software engineer currently loving in Oceanside, California.
    <h3>Early Life</h3>
    I grew up in a suburb of Kansas City called Kearney, MO.
    I've always loved technology and chose that path when I joined the Marine Corps.
    <br>
    <br>
    During 2020, I made the decision to return to college. I enrolled in Arizona State University and in May of 2022,
    <br />
    graduated with a Bachelor of Planning in Urban Planning. City composition has always been an interest of mine.
    <br>
    <br>
    <h3>Hobbies</h3>
    <ul>
        <li>Spending time with my family</li>
        <li>Reading. some of my favorite books include:</li>
        <ul>
            <li><i>A Confederacy of Dunces</i> by John Kennedy Toole</li>
            <li>Skin in the Game by NNT </li>
            <li><i>A Song of Ice and Fire</i> series by George R. R. Martin</li>
            <li>Runaway Horses by Yukio Mishima</li>
            <li>Hyperion series by Dan Simmons</li>
            <li></li>
            <li></li>
        </ul>
        <li>Working Out</li>
        <li>Video Games, a rough list of my top ten includes:</li>
        <ul>
            <li>Splinter Cell: Chaos Theory (2005)</li>
            <li>Mercenaries (2005)</li>
            <li>Dark Souls (2011)</li>
            <li>Elder Scrolls V: Skyrim (2011)</li>
            <li>Max Payne 3 (2012)</li>
            <li>Cities Skylines (2015)</li>
            <li>Deus Ex: Mankind Divided (2016)</li>
            <li>XCOM 2: War of the Chosen (2016)</li>
            <li>Red Dead Redemption II (2018)</li>
            <li>Sekiro: Shadows Die Twice (2019)</li>
        </ul>
    </ul>

</body>