@page "/projects"
<link rel="stylesheet" href="style.css">

<PageTitle>Projects</PageTitle>

<h1>Project List</h1>
<body>
    <h2>Silly Bus Sim</h2>
    <img src="sbs logo-05.png" class="banner"/>

</body>
